* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* grid de la vista del paciente */
.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 1fr); /* Ajustado a 20 columnas */
  grid-template-rows: repeat(15, 1fr);
  height: 84vh;
  gap: 20px;
  width: 100%;
  position: relative;
  right: 50px;
}

.left-container, .other-container, .right-container {
  background-color: #000000cc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  max-height: 93vh;
}

.left-container {
  grid-column: 1/7; /* Ajustado para que ocupe 6 columnas */
  grid-row: 1/9;
}

.other-container {
  grid-column: 7/14; /* Ajustado para que ocupe 7 columnas */
  grid-row: 1/9;
}

.right-container {
  grid-column: 14/-1; /* Ajustado para ocupar las 6 columnas restantes */
  grid-row: 1/-1;
}

/* contenedor del foro */
.right-progress {
  border-radius: 15px;
  grid-column: 1/14; /* Ajustado para ocupar el ancho completo */
  grid-row: 9/-1;
  display: flex;
  justify-content: space-between;
  background-color: #000000cc;
}

.create-post-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
 
}

.create-post-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.create-post-body {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Reduce the gap between elements */
  padding: 8px; /* Reduce the padding */
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Reduce the gap between elements */
}

.input-container input, .input-container textarea {
  width: 100%;
  padding: 6px; /* Reduce the padding */
  border: 1px solid #ccc;
  border-radius: 6px; /* Reduce the border-radius */
  font-size: 14px; /* Reduce the font size */
}

.container-button {
  display: flex;
  justify-content: flex-end;
}

.boton-publish {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 6px; /* Reduce the border-radius */
  padding: 8px; /* Reduce the padding */
  font-size: 14px; /* Reduce the font size */
  cursor: pointer;
  transition: background-color 0.3s;
  width: 30%;
}

.boton-send:hover {
  background-color: #b7e4c7;
}

.texForo1 {
  font-size: 14px; /* Reduce the font size */
  resize: vertical;
  max-height: 150px; /* Reduce the max height */
}

.texForo {
  font-size: 14px; /* Reduce the font size */
  font-weight: bold;
}

.text {
  font-size: 20px; /* Reduce the font size */
  font-weight: bold;
  color: #101010;
}

#echart{
  width: 60%;
  height: 100%;
}

#barEchart{
  width: 50%;
  height: 100%;
}

/* estilos del contenido del medico */
.other-container-doctor, .right-container-doctor, .left-container-doctor {
  background-color: #000000cc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  max-height: 93vh;
  color: white;
}

.other-container-doctor {
  grid-column: 1/13; /* Ajustado para que ocupe 7 columnas */
  grid-row: 8/-1;
}

.right-container-doctor {
  grid-column: 13/-1; /* Ajustado para ocupar las 6 columnas restantes */
  grid-row: 1/-1;
}

.left-container-doctor {
  grid-column: 1/13; /* Ajustado para que ocupe 6 columnas */
  grid-row: 1/8;
}

.grid-container-doctor {
  display: grid;
  grid-template-columns: repeat(20, 1fr); /* Ajustado a 20 columnas */
  grid-template-rows: repeat(15, 1fr);
  height: 84vh;
  gap: 20px;
  width: 100%;
  position: relative;
  right: 50px;
}

.newTip {
  background-color: #c2ffb6;
  border-radius: 8px;
  padding: 10px;
  width: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.newTip:hover {
  background-color: #b7e4c7;
}

/* estilos de responder en el foro */
.topic-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Añade un espacio entre los elementos */
  padding: 20px;
}

.topic-header-FF {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
}

.topic-body {
  font-size: 16px;
  margin-top: 20px;
}

.text-topic {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-transform: capitalize;
}

.reply-button {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 35%;
}

.button-reply{
  display: flex;
  justify-content: flex-end;
}

/* estilos para replicar */
.reply-form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Añade un espacio entre los elementos */
  padding: 20px;

}

.buttons-reply {
  display: flex;
  gap: 20px;
}



.btn-reply {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 20%;
}

/* Estilo para mensajes replicados */
.replied-message {
  background-color: #e0f7fa; /* Color diferente para mensajes replicados */
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



/* estilo de los dialogos de add tip y add routine */

/* Estilo para centrar los diálogos */
.routineDialogContainer,
.tipDialogContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 500px;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(80px); /* Desenfoque */
  
}

/* Estilo para el contenido del diálogo */
.dialog-content {
    width: 99%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Asegura que el contenido del diálogo esté por encima del fondo */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
   
}

.forms label {
    display: block;
    margin-bottom: 10px;
}

.forms input[type="text"],
.forms input[type="number"],
.forms textarea {
    width: 100%;
    height: 50px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dialog-buttons{
  display: flex;
  justify-content:space-around;
  gap: 20px;
}

.dialog-buttons button {
    padding: 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #c2ffb6;
    width: 200px;
  
}



.dialog-title{
  text-align: center;
  font-size: 60px;
  color: #000000;
}
