.grid-container {
  position: relative;
  right: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 93vh;
  gap: 30px
    /* Ocupa toda la altura de la pantalla */
}

.left-container {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  grid-row: 1/3;
  grid-column: 1/4;
}

.right-container {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  grid-column: 4/-1;
  grid-row: -5/-1;

}

/* estilos del foro */
.create-post-container {
  background-color: #dae7cf;
  border-radius: 8px;
  padding: 16px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.create-post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container {
  display: flex;



}

.input-container input {
  margin-left: 10px;

/* Adjust as needed */
}

.publish-button {
 position: relative;
 bottom: 40px;
}

.text{
  color: rgb(163, 163, 180);
  position: relative;
  bottom: 15px;
}

.create-post-body{
  display: flex;
  flex-direction: row;

 
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.boton-send{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 4px;
  position: relative;
  left: 200px;

}

.boton-send:hover{ 
  background-color: rgb(205, 255, 215);

}

.message-item {
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}


/* fin de los estilos del foro */

.other-container {
  background-color: rgb(255, 254, 254);
  border-radius: 15px;
  grid-column: 1/4;
  grid-row: 3/5;
}

.container2 {
  background-color: lightgreen;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 450px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.dialog-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.newTip {
  height: 50px;
  width: 100px;
  border-radius: 15px;
  margin: 10px;
  border: none;
}

.list-item {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.routineDialogContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 18px;
}

.tipDialogContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 18px;
}

.contBottom {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}