.body{
    margin: 0;
    display: flex;
}

.container1{
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

.container2{
    border: 1px solid black;
    height: 200px;
    width: 200px;
}