.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Un contenedor ocupa un tercio de la pantalla, y los otros dos ocupan dos tercios */
    height: 100vh;
    gap: 20px /* Ocupa toda la altura de la pantalla */
  }
  
  .left-container {
    background-color: #fff;
  }
  
  .right-container {
  
    background-color: #fff;
  }

  .other-container{
    background-color: red

  }
  
  .container2 {
    background-color: lightgreen;
  }
  