aside.sidebar-menu {
    background-color: black;
    height: 100%;
    width: 50%;
}

aside.sidebar-menu .bx {
    color: white;
}

aside.sidebar-menu > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    height: 100%;
    gap: var(--spacing-1);
    padding: 40px;
}

aside.sidebar-menu > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    transition: var(--transition);
}

aside.sidebar-menu > ul > li > button {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
}

.active,
aside.sidebar-menu > ul > li:hover {
    transform: scale(1.3);
}

.iconos {
    color: white;
    width: 30px;
    height: 30px; 
    position: relative;
    top: 450px;
}

