
.container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        height: 90vh;
        position: relative;
        top: 40px;
        width: 50%;
        background-color: rgba(249, 250, 249, 0.247); /* Cambiado a un color semi-transparente */
        border-radius: 50px 70px 20px 20px;
        margin: auto;
        gap: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px); /* Reducido el valor del desenfoque */
    }
    



.main{
    background: -webkit-linear-gradient(to bottom, #799f0c, #acbb78); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #799f0c, #acbb78);
    height:100vh ;
}
.container1 h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 60px;
    color: rgb(0, 0, 0);

}

.buttonSocial {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; /* Ajusta el espacio interno del botón */
    background-color: transparent;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    color: #333; 
    border: none;
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    width: 150px;
  }
  
  .buttonSocial:hover {
    background-color: rgb(148, 222, 228);
    color: #000; /* Color del texto al pasar el ratón */
  }
  
  .buttonSocial:active {
    background-color: rgb(148, 222, 228); /* Color de fondo al hacer clic */
    color: #000; /* Color del texto al hacer clic */
  }
  
  .buttonSocial:focus {
    outline: none; /* Quitar borde del foco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Añadir sombra para el foco */
  }

   .buttonSocial a{
    text-decoration: none;
    color: black;
   }

.socialNetworks{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;

}


.buttonsContainer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 80%;
    align-items: flex-end;
    height: 30px;



}


.button {
    background-color: #090a09;
    color: white;
    border: none;
    padding: 15px;
    margin: 0 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 80%;
    border-radius: 40px;
    font-size: 17px;
}



.dialogContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    z-index: 1000;
}

.form {
    display: flex;
    flex-direction: column;
}

.formSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttonSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.googleButton {
    display: block;
    text-align: center;
    color: #4285F4;
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


.buttonD{
    background-color: #090a09;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;

    font-size: 14px;
}

